/* Write your CSS here */
.bg {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 5px;
  border-color: white;
  border-width: 5px;
  border-style: solid;
}

.heading {
  color: white;
  font-size: 30px;
  padding: 10px;
}

.button {
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
}
